@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9333EA;
  --color-secondary: teal;
  --color-accent: '#9E9E9E'
}

.heading-one {
  @apply text-xl lg:text-3xl font-bold
}

.heading-two {
  @apply text-lg lg:text-xl font-semibold
}

.margin {
  @apply my-20
}

.dashboard.active {
  @apply bg-purple-100 border-r-4
}

a.active {
  @apply text-purple-600
}