@import "tailwindcss";

@theme {
  --breakpoint-xs: 27rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 68rem;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "styledecor-light";
  default: true;
  --color-primary: #B76E79;   
  --color-secondary: #F3E5D8; 
  --color-accent: #7A3E48; 
  --color-neutral: #2A2A2A;
  --color-base-100: #FFFFFF;
}



.dashboard.active {
  @apply bg-base-200 border-primary border-r-4
}

a.active {
  @apply text-primary
}