@import "tailwindcss";
@plugin "daisyui";

@import "tailwindcss";

@theme {
  --breakpoint-xs: 27rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 68rem;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7A9D54;
  --color-secondary: #C2B8A3;
  --color-accent: '#C26A5A';
  --color-base-100: #F7F6F3;

}


.dashboard.active {
  @apply bg-base-200 border-primary border-r-4
}

a.active {
  @apply text-primary
}