@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #734dee;
  --color-secondary: teal;
  --color-accent: '#1f2937'
}

.heading-one {
  @apply text-2xl lg:text-5xl font-bold
}

.heading-two {
  @apply text-lg lg:text-xl font-semibold
}

.margin {
  @apply my-20
}