@import "tailwindcss";

@theme {
  --breakpoint-xs: 27rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 68rem;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}



@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7A9D54;
  --color-secondary: #C2B8A3;



}


.dashboard.active {
  @apply bg-base-200 border-primary border-r-4
}

a.active {
  @apply text-primary
}